@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");

html,
body {
  background-color: hsl(180, 52%, 96%);
  font-family: "spartan", sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0;
}

h1 {
  font-size: 14px;
  font-weight: 700;
}
h2 {
  color: hsl(180, 29%, 50%);
  display: inline-block;
  font-size: 11px;
  font-weight: 700;
}

.navbar {
  /* background-color: thistle; */
  background-image: url(%REACT_APP_BASE_URL%"/images/bg-header-desktop.svg");
  height: 100px;
  width: 100%;
  border-radius: 0;
}

@media (max-width: 360px) {
  .navbar {
    background-image: url("/images/bg-header-mobile.svg");
    background-repeat: no-repeat;
    background-size: I;
    height: 100px;
    width: 100%;
    border-radius: 0;
  }
}

.container {
  margin: 3rem auto;
  min-height: 120px;
  max-width: 80%;
  background-color: white;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.container:hover {
  transform: translateY(-3px);
  opacity: 0.9;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.35);
  transition: 0.3s;
}

.featured-container {
  border-left: hsl(180, 14%, 20%, 0.8) solid 6px;
}

.filter {
  bottom: 140px;
  left: 125px;
  min-height: 80px;
  width: 80%;
  display: flex;
  vertical-align: middle;
}

.filterTags {
  width: 70%;
  display: inline-block;
}

#badges {
  padding-top: 10px;
}

.logo {
  height: 6rem;
  width: 6rem;
  float: left;
  border-radius: 50%;
  margin: 17px 0 0 15px;
}

.info-section {
  position: relative;
  right: 41px;
  top: 3px;
}
@media (max-width: 1040px) {
  .info-section {
    position: relative;
    right: 20px;
    top: 3px;
  }
}

.new {
  color: #fff;
  background-color: hsl(180, 29%, 50%);
  border-radius: 25px;
  font-size: 10px;
  padding: 6px 8px;
  margin: 5px 8px;
  font-weight: 700;
}

.featured {
  color: #fff;
  background-color: hsl(180, 14%, 20%);
  border-radius: 25px;
  font-size: 10px;
  padding: 6px 8px;
  font-weight: 700;
}

.main-info {
  padding-top: 5px;
}

.position {
  margin: 0 0 10px 0;
  font-weight: bold;
}

.info {
  opacity: 60%;
}

.info::after {
  content: " • ";
}

.info:last-child::after {
  content: " ";
}

.requirements {
  background-color: #eef6f6;
  color: #5ba4a4;
  float: right;
  font-weight: 700;
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 1%;
  margin-right: 3%;
}

.requirements:hover {
  cursor: pointer;
  transition: 0.4s;
  background-color: #5ba4a4;
  color: #eef6f6;
}

#tags {
  cursor: default;
  margin: 20px 15px;
  padding: 0;
  font-weight: 700;
}

#tags:hover {
  background-color: #eef6f6;
  color: #5ba4a4;
}

.close {
  background-color: teal;
  color: white;
  font-size: 15px;
  padding: 4px 10px 6px;
  position: relative;
  left: 5px;
  border: none;
  border-radius: 0 5px 5px 0;
}
.close:hover {
  cursor: pointer;
  background-color: rgb(0, 100, 100);
}

.close:active {
  outline: none;
}
.close:focus {
  outline: none;
}

@media (min-width: 900px) {
  .close {
    padding: 2px 9px 4px;
  }
}

.clear {
  background: none;
  color: rgb(158, 158, 158);
  float: right;
  margin: auto 25px auto auto;
  font-size: 13px;
  font-weight: 700;
}

.clear:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #5ba4a4;
}

@media (max-width: 960px) {
  .logo {
    position: relative;
    bottom: 50px;
    height: 4rem;
    width: 4rem;
  }
  .info-section {
    position: relative;
    top: -50px;
    left: 20px;
  }

  .requirements-div {
    position: relative;
    bottom: 20px;
    left: 20px;
    max-width: 250px;
  }

  .requirements {
    float: left;
  }
  #tags {
    padding-right: 9px;
  }
  .close {
    padding: 0 9px 1px;
  }
}
